/* DARK MODE  */
.toggle.dark-mode {
  left: 48%;
}

body.dark-mode {
  background: var(--black-color);
  color: var(--white-color);
}

.navbar.dark-mode {
  background-color: var(--black-color);
  box-shadow: none;
}

.logo.dark-mode {
  color: var(--white-color);
}

.navbar-menu a.dark-mode {
  color: var(--white-color);
}

.heading.dark-mode {
  color: var(--white-color);
}

.hero-btns-box button:last-child.dark-mode {
  color: var(--white-color);
}

.hero-btns-box button:last-child:hover.dark-mode {
  color: var(--primary-color);
}

.hero-text-box p.dark-mode {
  color: var(--white-dark-color);
}
